<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css' %>
<%= javascript_include_tag "//www.google.com/jsapi" %> 
<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="contenty">
<div class="row">

  <h1>Results</h1>
  



<div class="col-7 col-s-7">
  

  <%= form_tag('/results', :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Lawnbowls" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<table id="t01">
                         
  <tr>                          
    <th>Name</th>

  </tr>
  
<% @name.each do |name| %> 

  <tr>
    <td><%= name.name %></td> 
    
  

  </tr>
<% end %>                      
</table>  

</div>


<div class="col-5 col-s-5">
  


  
    <h2>Locations around Halifax</h2>
    <div id="chart-1" style=" text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div><script type="text/javascript">
  new Chartkick.BarChart("chart-1", {"Hebden Bridge":7,"Sowerby Bridge":9, "Huddersfield":3, "Brighouse":11, "Ripponden":2, "Todmoden":5}, {});
</script>

  
  <br>

<%=image_tag("lawnb.jpg", alt: "lawn bowls")%>
<br>
<br>

    <div id="chart-2" style=" text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div><script type="text/javascript">
  new Chartkick.PieChart("chart-2", {"Private":24,"C.M.B.C.":22}, {});
</script>

</div>



</div>
</div>






</body>
</html>
