<% provide(:title, "Contact") %>
<div class="row">




<h1>Contact</h1>
<p>
  dont contact us....
info about Cheat aka 'Roy' and Latie aka 'Jen'
<div class="datagrid">
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Wins</th></th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <% @scot.each do |a| %>
      <tr>
        <td><%= a.team %></td>
        <td><%= a.wins %></td>
        <td><%= a.losses %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>
