<% provide(:title, "Lawns") %>


<div class="contenty">
<div class="row">



<div class="col-7 col-s-7">
  
  <h1>Lawns</h1>



<table id="t01">
                         
  <tr>                          
    <th>Name</th>

  </tr>
  
<tr><td><%= link_to "Akroydon Victoria Bowling Club", akroydonvictoriabowlingclub_path %> </td></tr>
<tr><td><%= link_to "Akroyd Park Bowling Greens", akroydpark_path %> </td></tr>
<tr><td><%= link_to "Alan Park", alanpark_path %> </td></tr>
<tr><td><%= link_to "Albion Bowling Club", albionbowlingclub_path %> </td></tr>
<tr><td><%= link_to "Bailiff Bridge Club", bailiffbridgeclub_path %> </td></tr>
<tr><td><%= link_to "Bradshaw Park", bradshawparl_path %> </td></tr>
<tr><td><%= link_to "Brighouse Sports Club", brighousesportsclub_path %> </td></tr>
<tr><td><%= link_to "Centre Vale Park", centrevalepark_path %> </td></tr>
<tr><td><%= link_to "Crossleys Sports Ground", crossleyssportground_path %> </td></tr>
<tr><td><%= link_to "Crow Wood Park", crowwoodpark_path %> </td></tr>
<tr><td><%= link_to "Elland Cricket & Athletic Bowling Club", ellandcricketathetic_path %> </td></tr>
<tr><td><%= link_to "Elland W M C", elland_path %> </td></tr>
<tr><td><%= link_to "Greenroyd Bowling Club", greenroyd_path %> </td></tr>
<tr><td><%= link_to "Halifax Bowling Club", halifax_path %> </td></tr>
<tr><td><%= link_to "Heptonstall Social & Bowling Club", heptonstall_path %> </td></tr>
<tr><td><%= link_to "Hillcrest Bowling Club", hillcrest_path %> </td></tr>
<tr><td><%= link_to "Hipperholme & Lightcliffe Bowling Club", hipperholme_path %> </td></tr>
<tr><td><%= link_to "Laurel Crescent Bowling Green", green_path %> </td></tr>
<tr><td><%= link_to "Northowram Bowling Club", northowram_path %> </td></tr>
<tr><td><%= link_to "Outlane Bowling Club", outlane_path %> </td></tr>
<tr><td><%= link_to "Pellon Lane Social Club", pellon_path %> </td></tr>
<tr><td><%= link_to "Rastrick Bowling Club", rastrick_path %> </td></tr>
<tr><td><%= link_to "Ripponden Bowling Club", ripponden_path %> </td></tr>
<tr><td><%= link_to "Saddleworth Road", saddleworthroad_path %> </td></tr> 
<tr><td><%= link_to "Shelf Hall Park", shelfhallpark_path %> </td></tr>
<tr><td><%= link_to "Stainland Memorial Recreation Ground", stainland_path %> </td></tr>
<tr><td><%= link_to "Shroggs Parks", shroggs_path %> </td></tr>
<tr><td><%= link_to "Siddal Recreation Ground", siddal_path %> </td></tr>
<tr><td><%= link_to "Sowerby District Bowling Club", sowerby_path %> </td></tr>
<tr><td><%= link_to "Spring Hall Sports Ground", spring_path %> </td></tr>
<tr><td><%= link_to "Wadsworth Community Centre", wadworth_path %> </td></tr>
<tr><td><%= link_to "Walsden Cricket & Bowling Club", walsden_path %> </td></tr>
<tr><td><%= link_to "Wellesley Park Bowling Green", wellseley_path %> </td></tr>
<tr><td><%= link_to "West End Bowling Club", west_path %> </td></tr>
<tr><td><%= link_to "Wharf Street Bowling Green", wharf_path %> </td></tr>
<tr><td><%= link_to "Woodvale Bowling Club", woodvale_path %> </td></tr>

         
         
         
                     
</table>  

</div>


<div class="col-5 col-s-5">
<br><br><br><br><br>
<%=image_tag("bowls.jpg", alt: "lawn bowls")%>
<br>
<br>
<%=image_tag("lawnb.jpg", alt: "lawn bowls")%>
<br>
<br>
<%=image_tag("bowl.jpg", alt: "lawn bowls")%>
</div>



</div>
</div>







