<% provide(:title, "Home") %>
<%= stylesheet_link_tag "custom.css.scss" %>


                    <% if logged_in? %>
                    <div class="contentcon">
                          <div class="row">
                          <aside class="col-4 col-s-4">
                              <%= form_tag('/results', :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Lawnbowls" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

                            <section class="user_info">
                              <%= render 'shared/user_info' %>
                            </section>
                            <section class="stats">
                              <%= render 'shared/stats' %>
                            </section>
                            <section class="micropost_form">
                              <%= render 'shared/micropost_form' %>
                            </section>
                          </aside>
              
              
                        <div class="col-8 col-s-8">
                          <h3>Bowls News Feed</h3>
                          <%= render 'shared/feed' %>
                        </div>
                    </div>
                    </div>
          <%else%>
          
          
<div class="contenty">
  
  <div class="row">
          <div class="col-8 col-s-8">
            
            
              

          <%=image_tag("title.jpg", alt: "logo image")%>
          </div>
          
          <aside class="col-4 col-s-4">
          
          
          <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
          <br><br>
          
            <%= form_tag('/results', :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Lawnbowls" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
      </div>
</div>
    

<%end%>





