<% provide(:title, "Lee Mill Road") %>

<div class="contentcon">

<h1>Lee Mill Road</h1>
    <p></p>


<div class="row">
  
  <div class="col-6 col-s-6">


<table>                         
  <tr>                          
    <th>Address:</th>

  </tr>
  <tr>
    
    <td><%= @address %></td>


 

  </tr>
  <tr>
  <th>Owner:</th>
  </tr>
  <tr><td><%= @owner %></td></tr>
  <tr><td><div class="headcontainer" style= 'width: 400px; height: 350px;'><%=image_tag("lawn.jpg", alt: "lawn bowls")%></div></td></tr>
                     
</table>  



</div>



  
<div class="col-6 col-s-6">
<table>                         
  <tr>                          

    <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
    
    
    <th>Directions:</th>

  </tr>
  <tr><td>
              
              <div class="profileimages">
                <div class="map" id="map" style= 'width: 400px; height: 400px;'></div>
              </div>
                    <br><br>


                        <script>
                          handler = Gmaps.build('Google');
                          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                          markers = handler.addMarkers([{"lat":53.70709,"lng":-1.850327,"infowindow":"Shelf Hall Park"}]);
                          handler.bounds.extendWith(markers);
                          handler.fitMapToBounds();
                          handler.getMap().setZoom(5);
                        });
                        </script>
</td></tr>
</table>



</div>
</div>

   </div>




