<div class="signinstyle">

<h1>Results</h1>


<div class="row">
    

    
    <table id="t01">
                         
  <tr><th>Name:</th><td><%= @name %></td></tr>

  <tr><th>Address:</th><td><%= @address %></td></tr>
  
 <tr><th> Owners:</th><td><%= @owner %></td></tr>
 
 </table>
  
</div>

</div>
