<% provide(:title, "Home") %>
<div class="row">
<div class="col-3 col-s-3">
<div class="menu">
 <ul>
        <li><%= link_to "Home", root_path %></li><br>
        <li><%= link_to "Teams", about_path %></li><br>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

      </ul>
</div>
</div>


<div class="col-6 col-s-9">



<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<h1>Celtic Football Club</h1>
<p>
  
Location of Celtic Park</p>

<div style='width: 800px; float: left; margin: 0px;'>
  <div id="map" style='width: 800px; height: 400px; margin: inherit;'></div>
</div>




<div style='width: 800px; float: left; margin: 0px; display: none; '>
  <div id="map" style='width: 800px; height: 400px; margin: inherit;'></div>
</div>

<div id="data">
  <h1>Celtic Stats:</h1>
  <p>Wins: <%= @wins %> <br>
  Losses: <%= @losses %> </p>
</div>

<script type"text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 55.849726,
      "lng": -4.205564,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

