<div class="signinstyle">
    <div class="row">

<h1>Welcome to Club bowls!!</h1>

<h2>Hi <%= @user.name %>,</h2>

<p>
Welcome to Club bowls, where you can search or browse for clubs to play Lawnbowls! You can also post photos and status about your games or wanting to play at a club near you, as well as 
following other users and checking out their photos/time at different clubs and make new friends!<br> <br>Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    


</div>
</div>