  <nav class="navbar navbar-fixed-top">
     

<!-- Navagation Bar -->
        <nav class="navbar navbar-default">
          <div class="headcontainer-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
              
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
              
             
            
                    <li><%= link_to "Club Bowls", root_path %></li>
                    <li><%= link_to "Lawns", gallery_path %></li>
                     <li><%= link_to "Results", about_path %></li>
                    <% if logged_in? %>
                      <li><%= link_to "Users", users_path %></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><%= link_to "Profile", current_user %></li>
                          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                          <li class="divider"></li>
                          <li>
                            <%= link_to "Logout", logout_path, method: "delete" %>
                          </li>
                        </ul>
                      </li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
        
        

      </ul>
                
            
              </ul>
            </div>
          </div>
        </nav>
  </nav>
  
